:root {
  --rouge: #A54343;
  --noir: #000000;
  --rougef: #512020;
  --blanc:#fff;
}

@font-face {
  font-family: Qalogre;
  src: url(../assets/Qalogre.otf) format("opentype");
}

body {
  margin: 0;
  font-family: 'Special Elite', monospace;
  background-color: var(--blanc);
}

header {
  background-color: var(--rouge);
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; 
  
}
.logo::after{
  content: '';
  position: absolute;
  top: 0;
  right:150px;
  width: 100%;
  height: 100%;
  transform:scale();
  background-image: url(../assets/images/ink_artsitique.svg);
  background-size: contain;
  transform: scale(1.5) rotate(-40deg) translate(-20px, 3px);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  opacity: 0.5;  /
}
.logo img {
  width: 300px;
  margin-right: 10px;
}

.tiny {
  font-size: 0.9rem;
  color: #f1b6b6;
  font-style: italic;
  transform: translate(-60px, 30px);
}

.burger {
  display: flex;
  align-items: center;
}

.plus {
  aspect-ratio: 1/1;
  width: 40px;
}

.drip {
  position: absolute;
  right: 130px;
  bottom: -162px;  /* adjusted for better alignment */
  width: 50px;    /* bigger to better match the drip */
  z-index:-1;
}
.texte{
  transform:translate(-550px,-100px);
}
.text {
  padding: 2rem;
  max-width: 700px;
  margin: 0 auto;
 
  background-size: contain;
  color: #000;
  font-size: 0.9rem;
  line-height: 1.4;
}

.text p {
  margin-bottom: 1.2rem;
}

.galerie {
  margin-top: 2rem;
  font-family: 'Qalogre', serif;
  font-size: 2.4rem;
  color: var(--noir);
  transform: translate(-1100px, 50px);
  text-transform: capitalize;
  letter-spacing: 2px;
}

.gallery {
  background-color: var(--rougef);
  padding: 1.5rem;
  margin-top: 10rem;
  transform: scale(2) translate(-300px, 10px);
  
}

.gallery img {
  width: 100%;
  max-width: 320px;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}
.footer{
  background-color: var(--rouge);
  padding: 2rem 1rem;
  text-align: center;
  margin-top: 3rem;
  transform: translate(-5px, 800px);
 
}
.liens {
  list-style: none;
  padding: 0;
  margin: 2rem auto;
 
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  font-family: 'Special Elite', monospace; 
  display: flex;
 flex-direction: column;
  align-content: flex-start;
   align-items: center;
}

a {
  color:var(--rougef);
  text-decoration: none;
}

.liens li a:hover {
  color:var(--blanc);
}
.instagram{
  width:50px;
}
.facebook{
  width:50px;
}
.twitter{
  width:50px;
}
.linkedin{
  width:50px;
}