:root {
  --rouge: #A54343;
  --noir: #0000;
  --rougef: #512020;
}

@font-face {
  font-family: Qalogre;
  src: url(../assets/Qalogre.otf) format("opentype");
}

body {
  display: flex;
  width: 1440px;
  min-width: 851px;
  max-width: 1440px;
  min-height: 852px;
  max-height: 3707px;
  flex-direction: column;
  align-items: center;
  gap: 63px;
  margin:0;
}

/*la hauteur du conteneur qui englobe les elements de la page*/
.background-wrapper {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

/* L'image de fond est transparente */
.background-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  /* proprietes de l'image */
  background-image: url(../assets/images/background_swirl.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 400px -90px;
  opacity: 0.2;
  z-index: 0;
}


/* les proprietes du .head  */
.entete {
  width: 100%;
  height: 10vh;
  background-color: var(--rouge);
  position: relative;
  z-index: 1;
  /* flkex box afin de placer le drip a la bonne place*/
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.logo {
  position: relative;
  z-index: 1;
}

.drip {
  /*ajuster le margin top pour que le drip soit a la bonne place*/
  position: relative;
  margin-top: 45px;
}

#artotheque {
  width: 350px;
  transform: translate(35px, -25px);

}

.ink {
  position: absolute;
  top: -10px;
  left: 20px;
  z-index: 0;
  width: 200px;
  height: auto;
  pointer-events: none;
}

#splash {
  width: 140px;
  transform: rotate(-20deg) translate(-20px, -15px);
}

.footer {
  display: flex;
  min-width: 380px;
  max-width: 1440px;

  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 9px;
  align-self: stretch;
  background-color: #A54343;
  margin-top: 2900px;

}

.background-footer {

  position: relative;
  min-height: 100vh;
  overflow: hidden;
  ;


  /* L'image de fond est transparente */

}
.background-footer::before {
  content: "";
  position: absolute;
  inset: 0;
  /* proprietes de l'image */
  background-image: url(../assets/images/footer_detail.png);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.2;
  z-index: 0;
}
.arto-png{
  width: 60vw;
}
.mini-logo{
  width: 1000px;
  height: auto;
  display:flex;
  
}