:root {
    --rouge:#A54343;
    --noir:#0000;
    --rougef:#512020;
    
  }
@font-face {
  font-family: Qalogre;
  src: url(../assets/Qalogre.otf) format(opentype);
}


/*----- Styles Généraux -----*/
.text{
 transform: translate(600px,200px);
width:300px;
height:800px;
}
.intro{
  font-family: Georgia, 'Times New Roman', Times, serif;
  height:300px;
}

.gal{
  width: 705px;

flex-shrink: 0;
aspect-ratio: 3/1;
max-width: 100%;
height: auto;
display: block;
margin: 0 auto;
}
.carousel{
  display: flex;
      aspect-ratio: 1/1;
      max-width: 800px;
     
      align-items: center;
      gap: 40px;
      align-self: stretch;
      background-color: var(--rougef);
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      transform: translate(400px, -50px);


}
.img-carousel{
 
  aspect-ratio:1/1;
flex-shrink: 0;
align-self: stretch;
border: 23px solid #410909;
background: url(<path-to-image>) lightgray 50% / cover no-repeat;
box-shadow: -6px 43px 19.6px -13px rgba(0, 0, 0, 0.28);
}
/*------ Section Hero ------*/